*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial,sans-serif;
}

body{
  background:#0d1117;
  color:white;
}

header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px;
  background:#161b22;
}

header h1{
  color:#6f3cff;
}

nav a{
  color:white;
  text-decoration:none;
  margin-left:15px;
}

.hero{
  text-align:center;
  padding:80px 20px;
}

.hero h2{
  font-size:36px;
  margin-bottom:15px;
}

.hero p{
  color:#ccc;
  margin-bottom:25px;
}

button{
  background:#6f3cff;
  color:white;
  border:none;
  padding:12px 25px;
  border-radius:8px;
  cursor:pointer;
  font-size:16px;
}

.featured{
  padding:40px 20px;
}

.featured h2{
  text-align:center;
  margin-bottom:30px;
}

.card{
  background:#161b22;
  padding:20px;
  margin:15px auto;
  border-radius:12px;
  max-width:350px;
  border:1px solid #6f3cff;
}

.card h3{
  color:#6f3cff;
}

footer{
  text-align:center;
  padding:20px;
  margin-top:40px;
  background:#161b22;
}